<a href="https://colab.research.google.com/github/AtifHussain63/Python-Learning-2025/blob/main/basic_python_lab_6.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

# Python list
## access list
List items are indexed and you can access them by referring to the index number:

## Example
Print the second item of the list:

In [ ]:
thislist = ["apple", "banana", "cherry"]
print(thislist[2])

cherry

Note: The first item has index 0.

# Negative Indexing

Negative indexing means start from the end

-1 refers to the last item, -2 refers to the second last item etc.

## Example
Print the last item of the list:

In [ ]:
thislist = ["apple", "banana", "cherry"]
print(thislist[-1])

cherry

## Range of Indexes

You can specify a range of indexes by specifying where to start and where to end the range.

When specifying a range, the return value will be a new list with the specified items.

## Example
Return the third, fourth, and fifth item:

In [ ]:
thislist = ["apple", "banana", "cherry", "orange", "kiwi", "melon", "mango"]
print(thislist[2:5])

['cherry', 'orange', 'kiwi']

Note: The search will start at index 2 (included) and end at index 5 (not included).
Remember that the first item has index 0.

By leaving out the start value, the range will start at the first item:

# Example
This example returns the items from the beginning to, but NOT including, "kiwi":

In [ ]:
# 4th index is not including where kiwi
thislist = ["apple", "banana", "cherry", "orange", "kiwi", "melon", "mango"]
print(thislist[:4])

['apple', 'banana', 'cherry', 'orange']

# Range of Negative Indexes
Specify negative indexes if you want to start the search from the end of the list:

# Example
This example returns the items from "orange" (-4) to, but NOT including "mango" (-1):

In [ ]:
thislist = ["apple", "banana", "cherry", "orange", "kiwi", "melon", "mango"]
print(thislist[-5:-1])

['cherry', 'orange', 'kiwi', 'melon']

# Check if Item Exists
To determine if a specified item is present in a list use the in keyword:

# Example
Check if "apple" is present in the list:

In [ ]:
thislist = ["apple", "banana", "cherry"]
if "apple" in thislist:
  print("Yes, 'cheery' is  the fruits list")
else:
    print("no cheery is fruit list")

Yes, 'cheery' is  the fruits list

In [ ]:
# test
mylist=[1,2,3,4,5,6,7,8,9,10]
if 6 in mylist:
    print("yes 6 is present in my list")
else:
    print("their is 6 not present in list")

yes 6 is present in my list

# Python - Change List Items

# Change Item Value
To change the value of a specific item, refer to the index number:

# Example
Change the second item:

In [ ]:
thislist = ["apple", "banana", "cherry"]
thislist[1] = "mango"
print(thislist)

['apple', 'mango', 'cherry']

In [ ]:
# change the third item
thislist[2]= "mango"

In [ ]:
print(thislist)

['apple', 'mango', 'mango']

# Change a Range of Item Values
To change the value of items within a specific range, define a list with the new values, and refer to the range of index numbers where you want to insert the new values:

# Example
Change the values "banana" and "cherry" with the values "blackcurrant" and "watermelon":

In [ ]:
thislist = ["apple", "banana", "cherry", "orange", "kiwi", "mango"]
thislist[1:3] = ["blackcurrant", "watermelon"]
print(thislist)

['apple', 'blackcurrant', 'watermelon', 'orange', 'kiwi', 'mango']

# Example
Change the second value by replacing it with two new values:

In [ ]:
thislist = ["apple", "banana", "cherry"]
thislist[1:2] = ["blackcurrant", "watermelon"]
print(thislist)

['apple', 'blackcurrant', 'watermelon', 'cherry']

 Note: The length of the list will change when the number of items inserted does not match the number of items replaced.

# Example
Change the second and third value by replacing it with one value:

In [ ]:
thislist = ["apple", "banana", "cherry"]
thislist[1:3] = ["watermelon"]
print(thislist)

['apple', 'watermelon']

# Insert Items
To insert a new list item, without replacing any of the existing values, we can use the insert() method.

The insert() method inserts an item at the specified index:

# Example
Insert "watermelon" as the third item:

In [ ]:
thislist = ["apple", "banana", "cherry"]
thislist.insert(2, "watermelon")
print(thislist)

['apple', 'banana', 'watermelon', 'cherry']